
.MuiCardContent-root:last-child {
    padding-bottom: 0!important;
}
.MuiButton-containedPrimary{
    padding: 14px 31px!important;
    font-family: 'Inter'!important;
    background: linear-gradient(180deg, #654FEA 0%, #2A1B66 100%)!important;
    border: 1px solid #2F3F5F!important;
    box-sizing: border-box!important;
    border-radius: 20px!important;
    font-size: 16px!important;
    text-transform: capitalize!important;
}
.makeStyles-tableth-16{
    font-size: 18px!important;
}