.header_multi{
    background-color: #000!important;
}
.bfgfbnio {
    z-index: 999!important;
}
.ResAppBar-list-1 {
    width: 100%!important;
}
.MuiDrawer-paperAnchorTop {
    top: 57px!important;
}
#simple-modal-title{
    margin: 0 0 20px!important;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.profile_options{
    display: flex;
}
.logo_text{
      color: #fff;
      font-size: 22px!important;
      line-height: 33px;
      font-weight: 700!important;
      margin: 0 15px!important;
}
.MuiContainer-maxWidthMd{
    text-align: left!important;
}
.MuiTabPanel-root {
    background: #000!important;
    color: #fff;
}
.navtab{
   .MuiTabs-indicator{
    background-color: #A975FF!important; 
    }
    .Mui-selected{
    color: #A975FF!important;
    }
    .MuiTab-root {
        min-width: 94px!important;
        margin-left: 40px!important;
    }
}
.MuiTab-wrapper{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
// .imgsize{
    
// }
.MuiAppBar-colorPrimary{
    background-color: #000000!important; 
    padding: 10px 0px 0px 0px!important;
  }
//   #html-show, #css-show, #js-show {
//     display: none;
//   }
  
//   #html-show:target, #css-show:target, #js-show:target {
//     display: block;
//   }