#simple-tabpanel-0{
    background-color: #000;
}
.tabheader{
    background-color: #1E1C26;
    border-radius: 16px;
    border-color: #f2f2f2;
    margin: auto;
    color: #858EB2;
    padding: 4px;
.MuiTabs-indicator{
    background-color: transparent!important; 
}
.Mui-selected{
    color: #FFF!important;
    background-color: #534A76!important;
    border-radius: 12px;
}
}
